/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container{
  display: flex;
  height : 100vh;
  gap: 25px;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-flow : row wrap;
}

[class ^="box-"]{
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.box-1 {
  flex-grow: 1;
}

.box-2 {
  align-self: center;
  flex-grow: 5;
  flex : 2 1 30em;
}

.box-3 {
  flex-grow: 1;
}
