/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: black;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1, h2{
  text-align: center;
  color: white;
}
img{
  display: block;
  height: 500px;
  margin: 0 auto;
}

ul{
  width: 100px;
  height: 265px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

li{
  width: 94px;
  height: 65px;
}

#red{
  background: rgb(213,21,26);
}

#pink{
  background: rgb(230,81,118);
}

#berry{
  background: rgb(150,27,68);
}

#neutral{
  background: rgb(158,82,73);
}
