/* Please make the anchor tags gold, 20px, and have a purple background */
a{
  color: gold;
  height: 20px;
  background: purple;
}

/* Please make the section have a height of 200px, a 10px thick blue border, and a light orange background */
section{
  height: 200px;
  background: rgba(250, 181, 127, 1);
  border: 10px solid blue;
}

/* Please make the aside have a height of 300px, a thin red border, and a teal background  */
aside{
  height: 300px;
  background: teal;
  border: 1px solid red;
}

/* Please make the aside paragraph have white text, 18px, and a red underline */
aside > p{
  color: white;
  height: 18px;
  text-decoration: underline red;
}
